<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>计算</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
</head>
<body>
    <div id="calculate">
        <input v-model="number1"/>
        <select v-model="selected">
            <option value="0">+</option>
            <option value="1">-</option>
            <option value="2">*</option>
            <option value="3">/</option>
        </select>
        <input v-model="number2"/>
        <button @click="cal()">=</button>
        <button @click="cal()"><span>{{ resulted }}</span></button>
    </div>
</body>
</html>
<script>
    var vm=new Vue({
        el:'#calculate',
        data:{
            number1:'',
            number2:'',
            selected:'',
            resulted:'0',
        },
        methods:{
            cal:function () {
                if (this.selected=='0'){
                    /*字符串变数字剪0*/
                    this.resulted=(this.number1-0)+(this.number2-0);
                }
                if (this.selected=='1'){
                    this.resulted=(this.number1-0)-(this.number2-0);
                }
                if (this.selected=='2'){
                    this.resulted=(this.number1-0)*(this.number2-0);
                }
                if (this.selected=='3'){
                    this.resulted=(this.number1-0)/(this.number2-0);
                }
            }
        }
    });                 
    </script>

</body>
</html>
